body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  background-color: dimgray;
  color: white;
}

#app {
  width: 50%;
  margin: auto;
  text-align: left;
}

a,
.title {
  color: white;
  text-decoration: none;
}

ul {
  padding-left: 0px;
}

li {
  margin: 5px;
  list-style-type: "🎥";
  padding-left: 5px;
  /* list-style-type: "✅"; */
  /* list-style-type: "→ "; */
  align-content: left;
}

.search {
  padding: 0.5em 0.5em;
}

.btn {
  color: white;
  background-color: gray;
  display: inline-block;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 0.5em;
  outline: none;
  margin-left: 1px;
}
