body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  background-color: lightgray;
  color: black;
}

#app {
  width: 50%;
  margin: auto;
  text-align: left;
}

a,
.title {
  color: black;
  text-decoration: none;
}

ul {
  padding-left: 0px;
}

li {
  margin: 5px;
  list-style-type: "🎥";
  padding-left: 5px;
  /* list-style-type: "✅"; */
  /* list-style-type: "→ "; */
  align-content: left;
}

.addSearch {
  padding: 0.5em 0.5em;
  outline: none;
  border: none;
}

.btn {
  color: white;
  background-color: gray;
  display: inline-block;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 0.5em;
  outline: none;
  margin-left: 1px;
}

.watched {
  color: white;
  background-color: grey;
  border: none;
  outline: none;
  font-weight: bold;
  font-family: Lato, Helvetica, Arial, sans-serif
}

.unwatched {
  color: white;
  background-color: green;
  border: none;
  outline: none;
  font-family: Lato, Helvetica, Arial, sans-serif
}

.right {
  float: right;
}